/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --white-color: white;
    --black-color: black;
}
body{
    background: #fadfe4;
}
section, .hero{
    max-width: 100vw;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
/* Hero section */
.hero{
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    background:var(--primary-color);
    color: white;
    position: relative;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.4rem;
}
.logo{
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 600;
}
/* nav section  */
@media (max-width:850px) {
    .nav-links{
        position: fixed;
            top: 0;
            right: -100%;
            background: var(--white-color);
            width: 80%;
            height: 100vh;
            padding: 5rem 2em 0;
            transition: right 0.4s;
            z-index: 10;
            }  
    
    
    .nav-links ul{
        display: inline-flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }
    .link-item a{
    color: var(--black-color);
    transition: 0.3s;
    font-size: 1rem;
    }
    .link-item a:hover{
        color: var(--secondary-color);
    }
    .close-nav{
        color: var(--black-color);
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        
    }
    .navbar i{
        font-size: 1.5rem;
        cursor: pointer;
    }

    .show-nav{
        right: 0;
        transition: right 0.4s;
    }
}

@media (min-width: 850px) {
    .navbar{
        padding: 2% 8%;
    }
    .nav-links ul{
        display: flex;
        gap: 24px;
    }
    .link-item a{
    color: var(--white-color);
    transition: 0.3s;
    }
    .link-item a:hover{
        color: var(--secondary-color);
    }
    
    .close-nav, .open-nav{
        display: none;
    }
      
}




/* Nav end here  */
/* hero-content starts  */
.hero-content{
    display: flex;
    padding: 0 8%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.hero-texts{
flex: 1;
display: grid;
align-content: center;
}
.hero-texts h1{
    font-size: 2rem;
}
.hero-texts p{
    margin: 2rem 0;
    font-weight: 300;
    font-size: 1rem;
    opacity: 0.8;
}
.hero-btns a{
    padding: 0.8em 1.6em;
    border-radius: 30px;
    transition: 0.5s;
    text-decoration: none;
}
.contact-btn{
    color: white;
    border: 1px solid var(--secondary-color);
}
.order-btn{
    background: var(--secondary-color);
    border: none;
    margin-right: 12px;
    color: var(--primary-color);
}
.order-btn:hover{
    background: transparent;
    color: white;
    border: 1px solid var(--secondary-color);
}
.contact-btn:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
}

.hero-image{
    flex: 1;
    margin-left: 4.5rem;
    display: grid;
    justify-items: center;
}
.hero-image img{
    width: 90%;
    height: auto;
}
@media (max-width:800px) {
    .hero-content{
        flex-direction: column-reverse;
    }
    .hero-texts{
       justify-items: center;
       text-align: center;
       margin-top: 12%;
    }
    .hero-image{
        margin-left: 0;
    }
    .hero-image img{
        width: 70%;
    
    }
}

/* hero end here  */
/* about start here  */
.about{
    display: flex;
    padding: 8%;
    align-items: center;
}
.about-content{
    text-align: center;
    width: 100%;
    display: grid;
    align-content: center;
    flex: 1;
    margin-left: 8%;
}
.about-img img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.sec-title h2{
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    
}
.sec-title::after{
    content: "";
    width: 100px;
    height: 5px;
    background: var(--secondary-color);
    display: block;
    margin: 10px auto;
    border-radius: 50px;
}
.about p{
    margin: 24px 0 16px;
    font-size: 0.9rem;
    font-style: 400;
    opacity: 0.8;
}
.social-icons a i{
color: var(--primary-color);
margin: 0 8px;
font-size: 1.35rem;
transition: 0.4s;
}
.social-icons a i:hover{
    color: var(--secondary-color);
}
@media (max-width:768px) {
    .about{
        flex-direction: column;
        row-gap: 3rem;
    }
    .about-img img{
        height: 200px;
        width: 200px;
    }
    .about-content{
        margin-left: 0;
    }
}
/* about ends here Menu starts here */
.menu{
    background: var(--primary-color);
    color: white;
    padding: 8%;
}
.menu-title{
    text-align: center;
}
.menu-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    justify-content: center;
    margin-top: 3em;
    gap: 3em;
    row-gap: 7rem;
}
.menu-item{
    display: grid;
    justify-content: center;
    text-align: center;
}
.menu-item img{
    width: 160px;
    height: 160px;
    margin: 0 auto;
}
.menu-item h2{
    font-size: 1.25rem;
    font-weight: 800;
}
.menu-item p{
    font-size: 0.8rem;
    font-weight: 400;
    opacity: 0.8;
}

/* Menu ends here Testimonials starts here */
.reviews{
    padding: 8%;
}
.reviews h1{
    text-align: center;
}
.review-container{
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    margin-top: 3rem;
}
.review{
    display: grid;
    justify-items: center;
    text-align: center;
    background: var(--white-color);
    padding: 8%;
    border-radius: 20px;
}
.name{
    margin: 1rem 0;
}
.review img{
    width: 120px;
    height: 120px;
    border-radius: 50%
}
.review p{
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 400;
    opacity: 0.9;
}

/* Reviews ends here Contact starts here */ 
.contact{
    display: flex;
    padding: 8%;
}
.contact-info{
    background: var(--primary-color);
    color: var(--white-color);
    flex: 1;
    padding: 4%;
}
.contact-info h1{
    text-align: center;
    margin-bottom: 2.5rem;
}

.contact-info p{
    font-size: 0.9rem;
    margin: 12px;
}
.contact form{
    background: var(--white-color);
    flex: 1;
    padding: 4%;
}
.input-field{
    width: 100%;
    margin: 0.7rem 0;
    height: 2.5rem;
    padding-left: 10px;
    outline: none;
    border: 0.6px solid rgba(5,5,5,0.6);
    border-radius: 8px;
}
.textarea{
    height: 7rem;
    padding-top: 8px;
    resize: none;
}

.submit-btn button{
    background: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 0.7em 2em;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 8px;
}
.submit-btn button:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
}
@media (max-width: 768px) {
    .contact{
        flex-direction: column;
    }
    .contact-info{
        padding-bottom: 20px;
    }
    .contact form{
        padding-top: 3rem;
    }

}

footer{
    background: black;
    color: white;
    text-align: center;
    padding: 12px 0;
    margin-top: 2rem;
}
footer p{
    margin-top: 8px;
    font-size: 0.9rem;
}
.foot-credit{
    color: var(--secondary-color);
}
.foot-icons a i{
  color: white;
}

.scroll-top{
    background: var(--secondary-color);
    position: fixed;
    right: 15px;
    bottom: 15px;
    padding: 4px 6px;
    border-radius: 4px;
}
.scroll-top a{
    font-size: 1rem;
    color: var(--primary-color);
    color: white;
}
